.container {
  position: absolute;
  top: 10px;
  right: -40px;
}

.button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--dark-blue-background-color);
  background-image: url('../../../../images/menu__button.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.button:hover {
  background-color: var(--dark-blue-on-hover);
}

.button:hover + .tip {
  opacity: 1;
}

.tip {
  background-color: var(--light-blue-semitransparent-background-color);
  font-family: Roboto;
  font-size: 12px;
  position: absolute;
  bottom: -30px;
  left: 5px;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(80, 104, 117);
  transition: opacity 0.2s ease-in;
  opacity: 0;
}